@import '_top-deals';
@import '_get-discount';
@import '_discount';
@import '_choose-brand';
@import '_shop-category';
@import '_main-central-img';
@import '_footer';

* {
  padding: 0;
  margin: 0;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: Inter, sans-serif;
}

.top-navbar {
  background-color: #003d29;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  min-height: 36px;
  padding-left: 40px;
  padding-right: 40px;
  // width: 94%;
  font-family: Inter, sans-serif;

  @media (max-width: 768px) {
    
    flex-wrap: nowrap;
    height: 7vh;
    display: flex;
    flex-direction: column;
  }

  &__left {
    padding-top: 0.7%;
    display: flex;
    gap: 8px;

    p {
      padding-top: 2px;
    }

    @media screen and (max-width: 479px) {
      margin-left: 20%;
      margin-top: 2.4%;
    }
    @media (max-width:768px) {
      margin-left: 40%;
      
    }
  }

  &__mid {
    //  padding-top: 0.7%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 479px) {
      display: none;
    }
    
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      gap: 34px;
      @media (max-width: 479px) {
        gap: 50px;
      }

      li {
        a {
          color: #fff;
          text-decoration: none;
          @media (max-width: 479px) {
            font-size: 12px;;
          }
        }

        list-style: none;
      }
    }

    @media (max-width: 479px) {
      margin-bottom: 4%;
    }
  }
}

// .right {
//     display: flex;
//     padding-right: 40px;
//     gap: 16%;
// }

.navbar2 {
  padding-right: 40px;
  padding-left: 40px;
  height: 82px;
  // gap: 42px;
  // margin-top: 34px;
  display: flex;
  // background-color: #a1d907;

  .img {
    img {
      padding-top: 19px;
      width: 175px;
      height: 44px;
    }
  }

  &__list {
    display: flex;
    margin-bottom: 80px;

    ul {
      padding-left: 15px;
      padding-top: 35px;
      display: flex;
      list-style: none;
      gap: 8px;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;

      li {
        // padding-right: 15px;
        padding-top: 15px;
        list-style-type: none;
        letter-spacing: 0.25px;

        a {
          padding-left: 18px;
          text-decoration: none;
          color: #333;
          font-size: 16px;
          font-weight: 500;
          color: #333;
          //    padding: 5px 10px;
          line-height: 20px;
          //    margin-right: 5px;
          //    margin-left: 5px;
        }
      }
    }
  }

  &__search-bar {
    // padding-left: 70px;
    margin-left: 10%;

    input {
      padding-left: 50px;
      width: 280px;
      margin-top: 21px;
      height: 40px;
      max-width: 320px;
      background-color: #f6f7f8;
      border-radius: 100px;
      margin-bottom: 0;
      // position: relative;
    }
  }

  &__right-side {
    // padding-right: 40px;
    margin-left: 30px;
    display: flex;
    gap: 30px;
    margin-top: 34px;

    .account {
      display: flex;
      gap: 16px;
    }

    .cart {
      display: flex;
      gap: 16px;
    }
  }
}

















// todays-deals
.todays-deals {
  padding-left: 20px;
  padding-right: 20px;

  &__container {
    .container-heading {
      text-transform: capitalize;
      // margin-bottom: 20px;
      // margin-top: 5%;
    }

    .product-tabs {

      &__menu {
        display: flex;
        gap: 4px;
        @media screen and (max-width:991px) {
          flex-wrap: wrap;
        }

        .product-links {
          color: #231f1e;
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid #c5c5c5;
          border-radius: 100px;
          margin-right: 16px;
          padding: 14px 23px;
          font-family: Eina01, sans-serif;
          font-size: 14px;
          font-weight: 600;
          line-height: 100%;
          transition: all 0.2s;
          text-decoration: none;
        }

        .product-links:nth-child(8) {
          background-color: #003d29;
          color: white;
        }

        padding-top: 40px;
      }

      .product-content {
        &__container {
          .product-item {
            display: grid;
            grid-column-gap: 24px;
            grid-row-gap: 16px;
            flex-wrap: nowrap;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-columns: 1fr;
            padding-top: 40px;
            animation: blink 4s linear infinite;



            @media screen and (max-width: 479px) {
                  grid-column-gap: 24px;
                  grid-template-columns: 1fr 1fr;
          }
          }
        }

        .single-item {
          width: 100%;

          .product-img {
            background-color: #f5f6f6;
            text-align: center;
            border-radius: 10px;
            position: relative;
            overflow: hidden;

            img {
              max-width: 100%;
              vertical-align: middle;
              display: inline-block;
            }

            img:hover {
              transform: scale(1.1);
            }

            .product-wishlist {
              width: 40px;
              height: 40px;
              background-color: #ffffff;
              border-radius: 100px;
              justify-content: center;
              align-items: center;
              transition: all 0.2s;
              display: flex;
              position: absolute;
              top: 16px;
              bottom: auto;
              left: auto;
              right: 16px;

              @media (max-width: 479px) {
                width: 34px;
                height: 34px;
                top: 10px;
                right: 17px;
              }
            }

            .product-wishlist:hover {
              background-color: #f9dcdc;
            }
          }

          .product-content {
            .title-wrap {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .title {
                margin-top: 16px;
                margin-bottom: 12px;

                font-weight: 600;


                font-family: Inter, sans-serif;
                font-size: 18px;
                font-weight: 600;

                // @media (max-width:491px) {
                //     font-size:12px ;
                // }
                @media screen and (max-width: 479px) {
                  font-size: 18px;
                }
              }

              .product-price {
                font-size: 18px;
                font-weight: 700;

                @media screen and (max-width: 479px) {
                  font-size: 18px;
                }

                .text-span {
                  font-size: 13px;
                  position: relative;
                  top: -5px;

                  @media screen and (max-width: 479px) {
                    font-size: 15px;
                  }
                }
              }
            }

            .product-color {
              margin-bottom: 10px;
              font-size: 12px;
              line-height: 16.5px;
            }

            .product-rating {
              display: flex;
              align-items: center;

              @media screen and (max-width: 491px) {
                gap: 6px;

                .total-rating {
                  font-size: 12px;
                }
              }
            }
          }

          .bottom-section {
            .button-section {
              justify-content: inline-block;
              margin-top: 12px;

              a {
                height: 12px;

                .cart-btn {
                  height: 40px;
                  width: 120px;
                  background-color: #ffffff;
                  font-family: 14px;
                  line-height: 14px;
                  color: #231f1e;
                  border: 1px solid #231f1e;
                  border-radius: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}




.trending-products {
  padding-left: 30px;
  padding-right: 30px;

  &__container {

    @media screen and (max-width: 767px) {
     
          padding-left: 15px;
          padding-right: 15px;
      
  }
  @media screen and (max-width: 991px) {
    
          padding-left: 20px;
          padding-right: 20px;
      
  }


    .container-heading {
      text-transform: capitalize;
      margin-bottom: 20px;
      margin-top: 5%;

      @media screen and (max-width: 767px) {
      
            font-size: 26px;
        
    }
    }


    .trending-products-item {
      grid-column-gap: 23px;
      grid-row-gap: 16px;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      display: grid;

      @media screen and (max-width: 479px) {
            grid-template-columns: 1fr;
    }

      .single-item {
        background-color: #f5f6f6;
        border-radius: 10px;
        flex: none;
        justify-content: center;

        

        .trending-img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          overflow: hidden;

          img {
            max-width: 100%;
            // vertical-align: middle;
            // display: inline-block;
          }
          img:hover{
            transform: scale(1.1);
          }
        }

        .trending-content {
          padding: 30px;
          @media screen and (max-width: 767px) {
            .trending-content {
                padding: 20px;
            }
        }

          .product-title {
            color: #231f1e;
            margin-top: 0;
            margin-bottom: 16px;
            font-family: Inter, sans-serif;
            font-size: 22px;
            font-weight: 700;

            @media screen and (max-width: 767px) {
              h3 {
                  font-size: 26px;
              }
          }
          }
          .product-paragraph{
            color: #231f1e;
            margin-left: 0;
            font-size: 15px;
            line-height: 100%;
          }
          .bottom-section {
            .button-section {
              justify-content: inline-block;
              margin-top: 28px;

              a {
                height: 15px;
                @media screen and (max-width: 767px) {
                      padding: 14px 30px;
              }

                .cart-btn {
                  height: 48px;
                  width: 128px;
                  background-color:#333;
                  font-size: 17px;
                  font-weight: 600;
                  line-height: 14px;
                  color: white;
                  border: 1px solid #231f1e;
                  border-radius: 22px;



                  @media screen and (max-width: 767px) {
                        font-size: 16px;
                }
                }
                .cart-btn:hover{
                  cursor: pointer;
                  background-color:#003d29;
                }
              }
            }
          }
        }


      }
    }
  }
}



.services{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  &__container{
    .container-heading{
      //later
      margin-bottom: 30px;
    }

    .services-main{
      // max-width: 9007200000000000px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    @media screen and (max-width: 991px) {
          grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 479px) {
    grid-template-columns:  1fr;
}

    .single-item{
      background-color: #f5f6f6;
    border-radius: 10px;
    flex: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .services-content{
      padding: 40px;

      @media screen and (max-width: 767px) {
            padding: 30px 20px;
    }
      .services-title{
        max-width: 230px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 32px;

    @media screen and (max-width: 767px) {
          margin-bottom: 14px;
  }
      }
      .services-para{
        max-width: 230px;
    color: var(--heading-color);
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%
      }
    }
    }
   
    }
  }
}