.discount {
  padding-top: 95px;
  padding-bottom: 95px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 768x) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  &__bg-img {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;

    img {
      position: relative;
      text-align: center;
    }

    img:hover {
      transform: scale(1.1);
    }

    .container-right {
      position: absolute;
      top: 12%;
      left: 30%;
      color: white;
      // max-width: 1360px;
      padding-left: 300px;
      padding-right: 100px;
      overflow: hidden;

      @media screen and (max-width: 991px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media screen and (max-width: 767px) {
        margin-right: 5px;
        margin-left: -102px;
      }

      .banner-content {
        background-color: #003d29;
        text-align: left;
        // padding: 110px 74px;
        padding-top: 85px;
        padding-bottom: 110px;
        padding-left: 74px;
        padding-right: 74px;
        display: inline-block;

        @media screen and (max-width: 767px) {
          padding: 55px 44px;
        }

        h2 {
          margin-bottom: 12px;
          font-size: 52px;

          @media screen and (max-width: 767px) {
            font-size: 28px;
          }

          @media screen and (max-width: 991px) {
            font-size: 38px;
          }
        }

        p {
          max-width: 385px;
          font-family: Inter, sans-serif;
          font-size: 20px;
          line-height: 145%;

          @media screen and (max-width: 767px) {
            margin-bottom: 25px;
          }
        }

        .learn-more-btn {
          position: absolute;
          // left: 3%;
          margin-top: 20px;

          height: 50px;
          width: 160px;
          background-color: #003d29;
          color: white;
          border: none;
          border-radius: 100px;
          font-size: 14px;
          border: 1px solid #ffffff;
          cursor: pointer;
          // top: 75%;
          text-transform: uppercase;

          @media (max-width: 479px) {
            // top: 64%;
            // left: 8%;
            height: 44px;
            width: 134px;
            font-size: 12px;
            // padding: 14px 30px;
            margin-top: 18px;
          }

          @media (max-width: 768px) {
            top: 80%;
          }
          @media (max-width: 631px) {
            top: 74%;
          }

        }

        .learn-more-btn:hover {
          transition: 0.8s linear;
          background-color: #000;
          border: #000;
        }
      }
    }
  }
}
