@import "_variables";
.services {
    padding-left: 30px;
    padding-right: 30px;

  
    &__container {
      margin-top: 30px;
  
      .container-heading {
        h2 {
          margin-top: 20px;
          margin-bottom: 10px;
          font-family: Eina02, sans-serif;
          font-size: 28px;
          font-weight: 700;
          line-height: 100%;
        }
      }
  
      .services-main {
        margin-top:36px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-rows: auto;
  
        @media screen and (max-width: 991px) {
          grid-template-columns: 1fr 1fr;
        }
  
        @media screen and (max-width: 479px) {
          grid-template-columns: 1fr;
        }
  
        .single-item {
          background-color:$color6;
          border-radius: 10px;
          flex: none;
          justify-content: center;
          align-items: center;
          overflow: hidden;
  
          .services-content {
            padding: 40px;
  
            @media screen and (max-width: 767px) {
              padding: 30px 20px;
            }
  
            .services-title {
              max-width: 230px;
              margin-top: 0;
              margin-bottom: 24px;
              font-size: 22px;
              line-height: 32px;
  
              @media screen and (max-width: 767px) {
                margin-bottom: 14px;
              }
            }
  
            .services-para {
              max-width: 230px;
              color: $color2;
              margin-bottom: 0;
              font-size: 16px;
              font-weight: 500;
              line-height: 160%
            }
          }
  
          .services-img{
            img:hover{
              transform: scale(1.1);
            }
          }
        }
  
      }
    }
  }
  
  