.single-item {
    width: 410.667px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    margin-right: 24px;

    .product-img {
      background-color: #f5f6f6;
      text-align: center;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      img {
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;

        &:hover {
          transform: scale(1.1);
        }
      }

      .product-wishlist {
        @include product-wishlist;

        &:hover {
          background-color: #f9dcdc;
        }
      }
    }

    .product-content {
      .title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          @include product-title;
        }

        .product-price {
          @include product-price;
        }
      }

      .product-color {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 16.5px;
      }

      .product-rating {
        display: flex;
        align-items: center;

        @media screen and (max-width: 491px) {
          gap: 6px;

          .total-rating {
            font-size: 12px;
          }
        }
      }
    }

    .bottom-section {
      .button-section {
        justify-content: inline-block;
        margin-top: 12px;

        a {
          height: 12px;

          .cart-btn {
            height: 40px;
            width: 120px;
            background-color: #ffffff;
            font-family: 14px;
            line-height: 14px;
            color: #231f1e;
            border: 1px solid #231f1e;
            border-radius: 22px;
          }
        }
      }
    }
  }