@import "_variables";

.single-item {
    width: 410.667px;
    margin-right: 24px;

    .product-img {
      background-color:$color6;
      text-align: center;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      img {
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;

        &:hover {
          transform: scale(1.1);
        }
      }

      .product-wishlist {
        @include product-wishlist;

        &:hover {
          background-color: $color8;
        }
      }
    }

    .product-content {
      .title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          @include product-title;
        }

        .product-price {
          @include product-price;
        }
      }

      .product-color {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 16.5px;
      }

      .product-rating {
        display: flex;
        align-items: center;

        @media screen and (max-width: 491px) {
          gap: 6px;

          .total-rating {
            font-size: 12px;
          }
        }
      }
    }

    .bottom-section {
      .button-section {
        justify-content: inline-block;
        margin-top: 12px;

        a {
          height: 12px;

          .cart-btn {
            height: 40px;
            width: 120px;
            background-color: $color9;
            font-family: 14px;
            line-height: 14px;
            color: $color2;
            border: 1px solid $color2;
            border-radius: 22px;
          }
        }
      }
    }
  }