.get-discount {
  padding-left: 20px;
  padding-right: 20px;
}
.get-discount__container {
  margin-top: 105px;
}
.get-discount__container .container-heading h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.get-discount__container .get-discount-items {
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  flex-wrap: nowrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media screen and (max-width: 991px) {
  .get-discount__container .get-discount-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 479px) {
  .get-discount__container .get-discount-items {
    grid-template-columns: 1fr;
  }
}
.get-discount__container .get-discount-items .single-item:nth-child(1) {
  z-index: 0;
  background-color: #f2e4d9;
  border-radius: 10px;
  flex: none;
  justify-content: center;
}
.get-discount__container .get-discount-items .single-item:nth-child(1) .get-discount-content {
  padding: 30px;
}
.get-discount__container .get-discount-items .single-item:nth-child(1) .get-discount-content .discount-title {
  max-width: 381px;
  margin-top: 0;
  font-family: Inter, sans-serif;
  font-size: 22px;
}
.get-discount__container .get-discount-items .single-item:nth-child(1) .get-discount-content .discount-price {
  color: #cb9917;
  font-family: Eina04, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
}
.get-discount__container .get-discount-items .single-item:nth-child(1) .get-discount-content .discount-price .text-span-2 {
  font-size: 31px;
  line-height: 41px;
  position: relative;
  top: -16px;
  color: #cb9917;
}
@media screen and (max-width: 767px) {
  .get-discount__container .get-discount-items .single-item:nth-child(1) .get-discount-content .discount-price .text-span-2 .text-span-2 {
    font-size: 24px;
    line-height: 26px;
    top: -10px;
  }
}
.get-discount__container .get-discount-items .single-item:nth-child(1) .get-discount-content .discount-paragraph {
  max-width: 385px;
  color: #231f1e;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
@media screen and (max-width: 767px) {
  .get-discount__container .get-discount-items .single-item:nth-child(1) .get-discount-content {
    padding: 20px;
  }
}
.get-discount__container .get-discount-items .single-item:nth-child(1) .thumbnail-img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  overflow: hidden;
}
.get-discount__container .get-discount-items .single-item:nth-child(1) .thumbnail-img img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .get-discount__container .get-discount-items .single-item:nth-child(1) .thumbnail-img img {
    width: 100%;
  }
}
.get-discount__container .get-discount-items .single-item:nth-child(1) .thumbnail-img img:hover {
  transform: scale(1.1);
}
.get-discount__container .get-discount-items .single-item {
  z-index: 0;
  background-color: #f9dcdc;
  border-radius: 10px;
  flex: none;
  justify-content: center;
}
.get-discount__container .get-discount-items .single-item .get-discount-content {
  padding: 30px;
}
.get-discount__container .get-discount-items .single-item .get-discount-content .discount-title {
  max-width: 381px;
  margin-top: 0;
  font-family: Inter, sans-serif;
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .get-discount__container .get-discount-items .single-item .get-discount-content .discount-title {
    font-size: 26px;
  }
}
.get-discount__container .get-discount-items .single-item .get-discount-content .discount-price {
  color: #961f1f;
  font-family: Eina04, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
}
.get-discount__container .get-discount-items .single-item .get-discount-content .discount-price .text-span-2 {
  font-size: 31px;
  line-height: 41px;
  position: relative;
  top: -16px;
  color: #961f1f;
}
@media screen and (max-width: 767px) {
  .get-discount__container .get-discount-items .single-item .get-discount-content .discount-price .text-span-2 .text-span-2 {
    font-size: 24px;
    line-height: 26px;
    top: -10px;
  }
}
.get-discount__container .get-discount-items .single-item .get-discount-content .discount-paragraph {
  max-width: 385px;
  color: #231f1e;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
.get-discount__container .get-discount-items .single-item .thumbnail-img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  overflow: hidden;
}
.get-discount__container .get-discount-items .single-item .thumbnail-img img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .get-discount__container .get-discount-items .single-item .thumbnail-img img {
    width: 100%;
  }
}
.get-discount__container .get-discount-items .single-item .thumbnail-img img:hover {
  transform: scale(1.1);
}
.get-discount__container .get-discount-items .single-item:nth-child(3) {
  z-index: 0;
  background-color: #f2e4d9;
  border-radius: 10px;
  flex: none;
  justify-content: center;
}
.get-discount__container .get-discount-items .single-item:nth-child(3) .get-discount-content {
  padding: 30px;
}
.get-discount__container .get-discount-items .single-item:nth-child(3) .get-discount-content .discount-title {
  max-width: 381px;
  margin-top: 0;
  font-family: Inter, sans-serif;
  font-size: 22px;
}
.get-discount__container .get-discount-items .single-item:nth-child(3) .get-discount-content .discount-price {
  color: #94623c;
  font-family: Eina04, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
}
.get-discount__container .get-discount-items .single-item:nth-child(3) .get-discount-content .discount-price .text-span-2 {
  font-size: 31px;
  line-height: 41px;
  position: relative;
  top: -16px;
  color: #94623c;
}
@media screen and (max-width: 767px) {
  .get-discount__container .get-discount-items .single-item:nth-child(3) .get-discount-content .discount-price .text-span-2 .text-span-2 {
    font-size: 24px;
    line-height: 26px;
    top: -10px;
  }
}
.get-discount__container .get-discount-items .single-item:nth-child(3) .get-discount-content .discount-paragraph {
  max-width: 385px;
  color: #231f1e;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
.get-discount__container .get-discount-items .single-item:nth-child(3) .thumbnail-img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  overflow: hidden;
}
.get-discount__container .get-discount-items .single-item:nth-child(3) .thumbnail-img img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .get-discount__container .get-discount-items .single-item:nth-child(3) .thumbnail-img img {
    width: 100%;
  }
}
.get-discount__container .get-discount-items .single-item:nth-child(3) .thumbnail-img img:hover {
  transform: scale(1.1);
}
.get-discount__container .get-discount-items .single-item:nth-child(4) {
  z-index: 0;
  background-color: #d2f7ec;
  border-radius: 10px;
  flex: none;
  justify-content: center;
}
.get-discount__container .get-discount-items .single-item:nth-child(4) .get-discount-content {
  padding: 30px;
}
.get-discount__container .get-discount-items .single-item:nth-child(4) .get-discount-content .discount-title {
  max-width: 381px;
  margin-top: 0;
  font-family: Inter, sans-serif;
  font-size: 22px;
}
.get-discount__container .get-discount-items .single-item:nth-child(4) .get-discount-content .discount-price {
  color: #003d29;
  font-family: Eina04, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
  background-color: #d2f7ec;
}
.get-discount__container .get-discount-items .single-item:nth-child(4) .get-discount-content .discount-price .text-span-2 {
  font-size: 31px;
  line-height: 41px;
  position: relative;
  top: -16px;
  color: #003d29;
}
@media screen and (max-width: 767px) {
  .get-discount__container .get-discount-items .single-item:nth-child(4) .get-discount-content .discount-price .text-span-2 .text-span-2 {
    font-size: 24px;
    line-height: 26px;
    top: -10px;
  }
}
.get-discount__container .get-discount-items .single-item:nth-child(4) .get-discount-content .discount-paragraph {
  max-width: 385px;
  color: #231f1e;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
.get-discount__container .get-discount-items .single-item:nth-child(4) .thumbnail-img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  overflow: hidden;
}
.get-discount__container .get-discount-items .single-item:nth-child(4) .thumbnail-img img {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .get-discount__container .get-discount-items .single-item:nth-child(4) .thumbnail-img img {
    width: 100%;
  }
}
.get-discount__container .get-discount-items .single-item:nth-child(4) .thumbnail-img img:hover {
  transform: scale(1.1);
}

.top-deals-for-you {
  padding-left: 30px;
  padding-right: 30px;
}
.top-deals-for-you__container {
  margin-top: 105px;
}
.top-deals-for-you__container .container-heading h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.top-deals-for-you__container .product-outer {
  overflow-x: auto;
  padding-bottom: 50px;
}
.top-deals-for-you__container .product-outer::-webkit-scrollbar {
  height: 6px;
  margin-top: 10px;
}
.top-deals-for-you__container .product-outer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.top-deals-for-you__container .product-outer::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 3px;
}
.top-deals-for-you__container .product-outer::after {
  content: "";
  display: block;
  height: 10px;
}
.top-deals-for-you__container .product-outer .swipper {
  position: relative;
  width: 200%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
}
@media screen and (max-width: 491px) {
  .top-deals-for-you__container .product-outer .swipper {
    width: 317%;
  }
}
.top-deals-for-you__container .product-outer .swipper .single-item {
  width: 410.667px;
  margin-right: 24px;
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-img {
  background-color: #f5f6f6;
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-img img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-img img:hover {
  transform: scale(1.1);
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-img .product-wishlist {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  display: flex;
  position: absolute;
  top: 16px;
  bottom: auto;
  left: auto;
  right: 16px;
}
@media (max-width: 479px) {
  .top-deals-for-you__container .product-outer .swipper .single-item .product-img .product-wishlist {
    width: 34px;
    height: 34px;
    top: 10px;
    right: 17px;
  }
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-img .product-wishlist:hover {
  background-color: #f9dcdc;
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-content .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-content .title-wrap .title {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 479px) {
  .top-deals-for-you__container .product-outer .swipper .single-item .product-content .title-wrap .title {
    font-size: 18px;
  }
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-content .title-wrap .product-price {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 479px) {
  .top-deals-for-you__container .product-outer .swipper .single-item .product-content .title-wrap .product-price {
    font-size: 18px;
  }
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-content .title-wrap .product-price .text-span {
  font-size: 13px;
  position: relative;
  top: -5px;
}
@media screen and (max-width: 479px) {
  .top-deals-for-you__container .product-outer .swipper .single-item .product-content .title-wrap .product-price .text-span {
    font-size: 15px;
  }
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-content .product-color {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16.5px;
}
.top-deals-for-you__container .product-outer .swipper .single-item .product-content .product-rating {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 491px) {
  .top-deals-for-you__container .product-outer .swipper .single-item .product-content .product-rating {
    gap: 6px;
  }
  .top-deals-for-you__container .product-outer .swipper .single-item .product-content .product-rating .total-rating {
    font-size: 12px;
  }
}
.top-deals-for-you__container .product-outer .swipper .single-item .bottom-section .button-section {
  justify-content: inline-block;
  margin-top: 12px;
}
.top-deals-for-you__container .product-outer .swipper .single-item .bottom-section .button-section a {
  height: 12px;
}
.top-deals-for-you__container .product-outer .swipper .single-item .bottom-section .button-section a .cart-btn {
  height: 40px;
  width: 120px;
  background-color: #ffffff;
  font-family: 14px;
  line-height: 14px;
  color: #231f1e;
  border: 1px solid #231f1e;
  border-radius: 22px;
}
.top-deals-for-you__container .product-outer .swipper .single-item .bottom-section .button-section a .cart-btn:hover {
  background-color: #003d29;
  color: white;
  cursor: pointer;
}

.discount {
  padding-top: 95px;
  padding-bottom: 95px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768x) {
  .discount {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.discount__bg-img {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
}
.discount__bg-img img {
  position: relative;
  text-align: center;
}
.discount__bg-img img:hover {
  transform: scale(1.1);
}
.discount__bg-img .container-right {
  position: absolute;
  top: 12%;
  left: 30%;
  color: white;
  padding-left: 300px;
  padding-right: 100px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .discount__bg-img .container-right {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .discount__bg-img .container-right {
    margin-right: 5px;
    margin-left: -102px;
  }
}
.discount__bg-img .container-right .banner-content {
  background-color: #003d29;
  text-align: left;
  padding-top: 85px;
  padding-bottom: 110px;
  padding-left: 74px;
  padding-right: 74px;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .discount__bg-img .container-right .banner-content {
    padding: 55px 44px;
  }
}
.discount__bg-img .container-right .banner-content h2 {
  margin-bottom: 12px;
  font-size: 52px;
}
@media screen and (max-width: 767px) {
  .discount__bg-img .container-right .banner-content h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 991px) {
  .discount__bg-img .container-right .banner-content h2 {
    font-size: 38px;
  }
}
.discount__bg-img .container-right .banner-content p {
  max-width: 385px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 145%;
}
@media screen and (max-width: 767px) {
  .discount__bg-img .container-right .banner-content p {
    margin-bottom: 25px;
  }
}
.discount__bg-img .container-right .banner-content .learn-more-btn {
  position: absolute;
  margin-top: 20px;
  height: 50px;
  width: 160px;
  background-color: #003d29;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  border: 1px solid #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .discount__bg-img .container-right .banner-content .learn-more-btn {
    height: 44px;
    width: 134px;
    font-size: 12px;
    margin-top: 18px;
  }
}
@media (max-width: 768px) {
  .discount__bg-img .container-right .banner-content .learn-more-btn {
    top: 80%;
  }
}
.discount__bg-img .container-right .banner-content .learn-more-btn:hover {
  transition: 0.8s linear;
  background-color: #000;
  border: #000;
}

.choose-brand {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 390px) {
  .choose-brand {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.choose-brand__container {
  margin-top: 105px;
}
.choose-brand__container .container-heading h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.choose-brand__container .choose-brand-item {
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  flex-wrap: nowrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media screen and (max-width: 991px) {
  .choose-brand__container .choose-brand-item {
    grid-template-columns: 1fr 1fr;
  }
}
.choose-brand__container .choose-brand-item .single-item {
  z-index: 0;
  border: 1px solid rgba(6, 8, 8, 0.0509803922);
  background-color: rgba(6, 8, 8, 0.0509803922);
  border-radius: 10px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  transition: all 0.2s;
  display: flex;
  position: relative;
}
.choose-brand__container .choose-brand-item .single-item .thumbnail {
  margin-right: 18px;
  position: relative;
}
.choose-brand__container .choose-brand-item .single-item .thumbnail .deal-img {
  border-radius: 10px;
}
.choose-brand__container .choose-brand-item .single-item .choose-brand-content .brand-title {
  color: #231f1e;
  margin-top: 0;
  margin-bottom: 13px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.choose-brand__container .choose-brand-item .single-item .choose-brand-content .delivery-time {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.shop-category-area {
  padding-left: 30px;
  padding-right: 30px;
}
.shop-category-area__conatiner {
  margin-top: 105px;
}
.shop-category-area__conatiner .container-heading h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.shop-category-area__conatiner .container-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 16px;
  grid-column-gap: 23px;
  grid-auto-columns: 1fr;
}
@media screen and (max-width: 479px) {
  .shop-category-area__conatiner .container-category {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}
@media screen and (max-width: 767px) {
  .shop-category-area__conatiner .container-category {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 991px) {
  .shop-category-area__conatiner .container-category {
    grid-template-columns: 1fr 1fr;
  }
}
.shop-category-area__conatiner .container-category .single-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.shop-category-area__conatiner .container-category .single-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
@media (max-width: 991px) {
  .shop-category-area__conatiner .container-category .single-item img {
    width: 100%;
  }
}
.shop-category-area__conatiner .container-category .single-item img:hover {
  transform: scale(1.1);
}
.shop-category-area__conatiner .container-category .single-item .top {
  position: absolute;
  top: 15%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .shop-category-area__conatiner .container-category .single-item .top {
    text-align: center;
    font-size: 22px;
    padding-right: 50px;
  }
}

.image-container {
  position: relative;
  width: 100%;
}
.image-container__main-image {
  position: relative;
}
.image-container__main-image img {
  width: 100%;
  height: 590px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 951px) {
  .image-container__main-image img {
    height: auto;
    min-height: 450px;
    max-height: 100vh;
  }
}
@media (max-width: 479px) {
  .image-container__main-image img {
    width: 100%;
  }
}
.image-container__main-image .banner-title {
  position: absolute;
  left: 30px;
  top: 58%;
  color: #003d29;
  font-size: 2em;
  text-align: left;
}
.image-container__main-image .banner-title:nth-of-type(1) {
  top: 36%;
  font-size: 55px;
  font-weight: 700;
  line-height: 74px;
  font-family: Eina02, sans-serif;
  color: #003d29;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}
@media (max-width: 479px) {
  .image-container__main-image .banner-title:nth-of-type(1) {
    font-size: 36px;
    line-height: 42px;
    top: 22%;
  }
}
.image-container__main-image .banner-title:nth-of-type(2) {
  top: calc(25% + 2.5em);
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 74px;
  font-family: Eina02, sans-serif;
  text-transform: capitalize;
  color: #003d29;
}
@media (max-width: 479px) {
  .image-container__main-image .banner-title:nth-of-type(2) {
    font-size: 36px;
    line-height: 42px;
    top: 32%;
  }
}
.image-container__main-image .banner-title:nth-of-type(3) {
  top: calc(44% + 5em);
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 145%;
  color: #003d29;
  max-width: 495px;
  margin-bottom: 40px;
}
@media (max-width: 479px) {
  .image-container__main-image .banner-title:nth-of-type(3) {
    top: 43%;
    font-size: 17px;
  }
}
@media (max-width: 991px) {
  .image-container__main-image .banner-title:nth-of-type(3) {
    padding-top: 12px;
  }
}
@media (max-width: 390px) {
  .image-container__main-image .banner-title:nth-of-type(3) {
    font-size: 15px;
    padding-top: 2px;
  }
}
.image-container__main-image .banner-title:nth-of-type(4) {
  top: calc(40.6% + 7.5em);
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 145%;
  color: #003d29;
  max-width: 495px;
  margin-bottom: 40px;
}
@media (max-width: 479px) {
  .image-container__main-image .banner-title:nth-of-type(4) {
    top: 53%;
    font-size: 17px;
  }
}
@media (max-width: 390px) {
  .image-container__main-image .banner-title:nth-of-type(4) {
    font-size: 15px;
    padding-top: 8px;
  }
}
.image-container__main-image .learn-more-btn {
  position: absolute;
  left: 3%;
  height: 50px;
  width: 160px;
  background-color: #003d29;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  cursor: pointer;
  top: 75%;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .image-container__main-image .learn-more-btn {
    top: 63%;
    left: 8%;
    height: 44px;
    width: 134px;
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .image-container__main-image .learn-more-btn {
    top: 80%;
  }
}
@media (max-width: 390px) {
  .image-container__main-image .learn-more-btn {
    top: 63%;
  }
}
.image-container__main-image .learn-more-btn:hover {
  background-color: #333;
}

.footer-area {
  padding-left: 40px;
  margin-top: 105px;
}
.footer-area .container {
  max-width: 1360px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .footer-area .container .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 991px) {
  .footer-area .container .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer-area .container .footer-top {
  border-top: 1px solid rgba(35, 31, 30, 0.2);
  width: 98%;
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer-area .container .footer-top .footer-columns {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-transform: capitalize;
  grid-template-rows: auto;
  grid-template-columns: 2.25fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: grid;
  padding-bottom: 75px;
}
@media screen and (max-width: 991px) {
  .footer-area .container .footer-top .footer-columns .footer-columns {
    grid-column-gap: 0px;
    grid-template: "." "."/1fr 1fr 1fr;
  }
}
.footer-area .container .footer-top .footer-columns .footer-about-us {
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  .footer-area .container .footer-top .footer-columns .footer-about-us {
    grid-area: span 1/span 4/span 1/span 4;
  }
}
@media screen and (max-width: 991px) {
  .footer-area .container .footer-top .footer-columns .footer-about-us {
    grid-area: span 1/span 2/span 1/span 2;
  }
}
@media screen and (max-width: 479px) {
  .footer-area .container .footer-top .footer-columns .footer-about-us .mb-30 {
    margin-bottom: 20px;
  }
}

.footer-logo {
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  display: flex;
}
@media screen and (max-width: 479px) {
  .footer-logo .footer-logo {
    width: 60%;
  }
}

.footer-paragraph {
  max-width: 385px;
  text-transform: none;
  font-size: 14px;
  line-height: 150%;
}
@media screen and (max-width: 767px) {
  .footer-paragraph {
    margin-bottom: 30px;
  }
}

.footer-payment-wrap {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 479px) {
  .footer-payment-wrap {
    display: none;
  }
}

.footer-menu-title {
  color: #000;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 23px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.footer-payment-thumb-wrap {
  grid-column-gap: 6px;
  grid-row-gap: 10.34px;
  flex-wrap: wrap;
  grid-template: ". Area" ". ."/58px 58px 58px 58px;
  grid-auto-columns: 1fr;
  display: grid;
}

.payment-single-item {
  min-height: 40px;
  min-width: 58px;
  border: 0.5px solid #d9d9d9;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-nav {
  flex: 1;
  margin-bottom: 30px;
}

.footer-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #0e0f18;
  flex-direction: column;
  align-items: flex-start;
}

.list-item {
  color: #000;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
}

.copyright-content {
  border-top: 1px solid rgba(35, 31, 30, 0.2);
  align-items: center;
  width: 98%;
  padding-top: 33px;
  gap: 53px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .copyright-content .copyright-content {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 991px) {
  .copyright-content .copyright-content {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 479px) {
  .copyright-content .copyright-content {
    display: flex;
    flex-wrap: wrap;
  }
}

.copyright-left-menu-wrap {
  display: flex;
  align-items: center;
}

.topbar-left-menu {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.copyright-menu-icon {
  width: 20px;
  margin-right: 5px;
}

.footer-menu-text {
  color: #231f1e;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

.copyright-menu {
  display: flex;
  gap: 19px;
}

.footer-menu-link {
  color: #0e0f18;
  flex: 0 auto;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  text-decoration: none;
}

.copyright-text {
  color: #0e0f18;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.courser-area {
  display: none;
}

.courser-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
}

.cursor-text {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

.top-navbar {
  background-color: #003d29;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  min-height: 36px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Inter, sans-serif;
}
@media (max-width: 768px) {
  .top-navbar {
    flex-wrap: nowrap;
    height: 7vh;
    display: flex;
    flex-direction: column;
  }
}
.top-navbar__left {
  padding-top: 0.7%;
  display: flex;
  gap: 8px;
}
.top-navbar__left p {
  padding-top: 2px;
}
@media screen and (max-width: 479px) {
  .top-navbar__left {
    margin-left: 20%;
    margin-top: 2.4%;
  }
}
@media (max-width: 768px) {
  .top-navbar__left {
    margin-left: 40%;
  }
}
.top-navbar__mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 479px) {
  .top-navbar__mid {
    display: none;
  }
}
.top-navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-navbar__right ul {
  display: flex;
  gap: 34px;
}
@media (max-width: 479px) {
  .top-navbar__right ul {
    gap: 50px;
  }
}
.top-navbar__right ul li {
  list-style: none;
}
.top-navbar__right ul li a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 479px) {
  .top-navbar__right ul li a {
    font-size: 12px;
  }
}
@media (max-width: 479px) {
  .top-navbar__right {
    margin-bottom: 4%;
  }
}

.navbar2 {
  padding-right: 30px;
  padding-left: 30px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar2 .img img {
  width: 175px;
  height: 44px;
}

.navbar2__list {
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar2__list ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  margin-bottom: 17px;
}

.navbar2__list li {
  padding-top: 15px;
  list-style-type: none;
  letter-spacing: 0.25px;
  margin-right: 6px;
}

.navbar2__list a {
  padding-left: 18px;
  text-decoration: none;
  color: #333;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}

.navbar2__search-bar {
  display: flex;
  align-items: center;
  margin-left: 82px;
}

.navbar2__search-bar input {
  padding-left: 50px;
  width: 290px;
  height: 40px;
  max-width: 320px;
  background-color: #f6f7f8;
  border-radius: 100px;
  border: 1px solid #231f1e;
  margin: 0;
}

.navbar2__right-side {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.navbar2__right-side .account,
.navbar2__right-side .cart {
  display: flex;
  gap: 7px;
}

.hamburger {
  display: none; /* Hide by default */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .navbar2 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar2__list {
    display: none;
  }
  .navbar2__search-bar {
    display: none;
  }
  .navbar2__center {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  }
  .navbar2__right-side {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .hamburger {
    display: block;
    margin-left: 75px;
  }
}
@media (max-width: 430px) {
  .navbar2__list,
  .navbar2__right-side {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .navbar2.active .navbar2__list,
  .navbar2.active .navbar2__right-side {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 82px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    gap: 20px;
  }
  .navbar2__search-bar {
    margin-left: 0;
    width: 100%;
  }
}
.todays-deals {
  padding-left: 20px;
  padding-right: 20px;
}
.todays-deals__container {
  margin-top: 105px;
}
.todays-deals__container .container-heading h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.todays-deals__container .product-tabs__menu {
  display: flex;
  gap: 4px;
  padding-top: 40px;
}
@media screen and (max-width: 991px) {
  .todays-deals__container .product-tabs__menu {
    flex-wrap: wrap;
  }
}
.todays-deals__container .product-tabs__menu .product-links {
  color: #231f1e;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #c5c5c5;
  border-radius: 100px;
  margin-right: 16px;
  padding: 14px 23px;
  font-family: Eina01, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  transition: all 0.2s;
  text-decoration: none;
}
.todays-deals__container .product-tabs__menu .product-links:nth-child(8) {
  background-color: #003d29;
  color: white;
}
.todays-deals__container .product-tabs .product-content__container .product-item {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  flex-wrap: nowrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 40px;
  animation: blink 4s linear infinite;
}
@media screen and (max-width: 479px) {
  .todays-deals__container .product-tabs .product-content__container .product-item {
    grid-column-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 631px) {
  .todays-deals__container .product-tabs .product-content__container .product-item {
    grid-column-gap: 26px;
    grid-template-columns: 1fr 1fr;
  }
}
.todays-deals__container .product-tabs .product-content .single-item {
  width: 100%;
}
.todays-deals__container .product-tabs .product-content .single-item .product-img {
  background-color: #f5f6f6;
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.todays-deals__container .product-tabs .product-content .single-item .product-img img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.todays-deals__container .product-tabs .product-content .single-item .product-img img:hover {
  transform: scale(1.1);
}
.todays-deals__container .product-tabs .product-content .single-item .product-img .product-wishlist {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  display: flex;
  position: absolute;
  top: 16px;
  bottom: auto;
  left: auto;
  right: 16px;
}
@media (max-width: 479px) {
  .todays-deals__container .product-tabs .product-content .single-item .product-img .product-wishlist {
    width: 34px;
    height: 34px;
    top: 10px;
    right: 17px;
  }
}
.todays-deals__container .product-tabs .product-content .single-item .product-img .product-wishlist:hover {
  background-color: #f9dcdc;
}
.todays-deals__container .product-tabs .product-content .single-item .product-content .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todays-deals__container .product-tabs .product-content .single-item .product-content .title-wrap .title {
  margin-top: 16px;
  margin-bottom: 12px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 479px) {
  .todays-deals__container .product-tabs .product-content .single-item .product-content .title-wrap .title {
    font-size: 18px;
  }
}
.todays-deals__container .product-tabs .product-content .single-item .product-content .title-wrap .product-price {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 479px) {
  .todays-deals__container .product-tabs .product-content .single-item .product-content .title-wrap .product-price {
    font-size: 18px;
  }
}
.todays-deals__container .product-tabs .product-content .single-item .product-content .title-wrap .product-price .text-span {
  font-size: 13px;
  position: relative;
  top: -5px;
}
@media screen and (max-width: 479px) {
  .todays-deals__container .product-tabs .product-content .single-item .product-content .title-wrap .product-price .text-span {
    font-size: 15px;
  }
}
.todays-deals__container .product-tabs .product-content .single-item .product-content .product-color {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16.5px;
}
.todays-deals__container .product-tabs .product-content .single-item .product-content .product-rating {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 491px) {
  .todays-deals__container .product-tabs .product-content .single-item .product-content .product-rating {
    gap: 6px;
  }
  .todays-deals__container .product-tabs .product-content .single-item .product-content .product-rating .total-rating {
    font-size: 12px;
  }
}
.todays-deals__container .product-tabs .product-content .single-item .bottom-section .button-section {
  justify-content: inline-block;
  margin-top: 12px;
}
.todays-deals__container .product-tabs .product-content .single-item .bottom-section .button-section a {
  height: 12px;
}
.todays-deals__container .product-tabs .product-content .single-item .bottom-section .button-section a .cart-btn {
  height: 40px;
  width: 120px;
  background-color: #ffffff;
  font-family: 14px;
  line-height: 14px;
  color: #231f1e;
  border: 1px solid #231f1e;
  border-radius: 22px;
}
.todays-deals__container .product-tabs .product-content .single-item .bottom-section .button-section a .cart-btn:hover {
  background-color: #003d29;
  color: white;
  cursor: pointer;
}

.discount-banner {
  background-color: #ffe6cc;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 105px;
  display: block;
}
.discount-banner__container {
  max-width: 1360px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .discount-banner__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 991px) {
  .discount-banner__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.discount-banner__container .container-1 {
  text-align: left;
  padding: 90px 120px 40px;
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 767px) {
  .discount-banner__container .container-1 {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .discount-banner__container .container-1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 479px) {
  .discount-banner__container .container-1 {
    padding-left: 20px;
    padding-right: 10px;
  }
}
.discount-banner__container .container-1 .inner-content .title {
  max-width: 381px;
  margin-top: 0;
  font-family: Inter, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
  font-size: 43px;
  font-weight: 700;
  line-height: 120%;
  color: #231f1e;
}
@media screen and (max-width: 767px) {
  .discount-banner__container .container-1 .inner-content .title {
    font-size: 28px;
  }
}
@media screen and (max-width: 779px) {
  .discount-banner__container .container-1 .inner-content .title {
    font-size: 26px;
  }
}
.discount-banner__container .container-1 .inner-content .para {
  max-width: 385px;
  margin-bottom: 30px;
  color: #231f1e;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 145%;
}
@media screen and (max-width: 479px) {
  .discount-banner__container .container-1 .inner-content .para {
    margin-bottom: 20px;
  }
}
.discount-banner__container .container-1 .inner-content .learn-more-btn {
  height: 50px;
  width: 160px;
  background-color: #003d29;
  color: white;
  border: none;
  border-radius: 100px;
  margin-top: 35px;
  font-size: 14px;
  cursor: pointer;
}
.discount-banner__container .container-1 .inner-content .learn-more-btn .learn-more-btn:hover {
  background-color: #333;
}
.discount-banner__container .container-1 .right-side {
  z-index: 0;
  margin-top: 40px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .discount-banner__container .container-1 .right-side {
    display: none;
  }
}
.discount-banner__container .container-1 .right-side .card-one {
  z-index: 2;
  position: absolute;
  top: -37px;
  bottom: auto;
  left: -22px;
  right: auto;
  transform: rotate(-30.6deg);
}
.discount-banner__container .container-1 .right-side .card-two {
  z-index: 1;
  position: absolute;
  top: -18px;
  bottom: auto;
  left: -6px;
  right: auto;
  transform: rotate(-21.6deg);
}
.discount-banner__container .container-1 .right-side .card-three {
  transform: rotate(-15deg);
}

.best-selling {
  padding-bottom: 70px;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .best-selling {
    padding-bottom: 30px;
  }
}
.best-selling__container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media screen and (max-width: 430px) {
  .best-selling__container {
    padding-left: 34px;
  }
}
.best-selling__container .container-heading h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.best-selling__container .best-selling-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
}
@media screen and (max-width: 991px) {
  .best-selling__container .best-selling-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 479px) {
  .best-selling__container .best-selling-items {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 479px) {
  .best-selling__container .best-selling-items .single-item {
    display: inline-block;
  }
}
.best-selling__container .best-selling-items .single-item .best-selling-img {
  border-radius: 10px;
  overflow: hidden;
}
.best-selling__container .best-selling-items .single-item .best-selling-img .best-img {
  border-radius: 10px;
}
.best-selling__container .best-selling-items .single-item .best-selling-img .best-img:hover {
  transform: scale(1.1);
}
.best-selling__container .best-selling-items .single-item .best-selling-content {
  margin-top: -29px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.best-selling__container .best-selling-items .single-item .best-selling-content .circle-img {
  margin-bottom: 10px;
}
.best-selling__container .best-selling-items .single-item .best-selling-content .circle-img img {
  vertical-align: middle;
  display: inline-block;
}
.best-selling__container .best-selling-items .single-item .best-selling-content .best-selling-title {
  color: #231f1e;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.best-selling__container .best-selling-items .single-item .best-selling-content .category {
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}
.best-selling__container .best-selling-items .single-item .best-selling-content .category .selliing-category {
  color: #848181;
  font-size: 12px;
  font-weight: 500;
}
.best-selling__container .best-selling-items .single-item .best-selling-content .category .dot {
  width: 4px;
  height: 4px;
  background-color: #848181;
  border-radius: 100px;
  margin-left: 4px;
  margin-right: 4px;
}
.best-selling__container .best-selling-items .single-item .best-selling-content .best-selling-para {
  display: flex;
  align-items: center;
}
.best-selling__container .best-selling-items .single-item .best-selling-content .best-selling-para .tag {
  width: 13px;
  height: 13px;
}
.best-selling__container .best-selling-items .single-item .best-selling-content .best-selling-para .para-two {
  color: #c34482;
  margin-left: 8px;
  line-height: 160%;
}

.trending-products {
  padding-left: 30px;
  padding-right: 30px;
}
.trending-products__container {
  margin-top: 105px;
}
@media screen and (max-width: 767px) {
  .trending-products__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 991px) {
  .trending-products__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.trending-products__container .container-heading h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
@media screen and (max-width: 767px) {
  .trending-products__container .container-heading {
    font-size: 26px;
  }
}
.trending-products__container .trending-products-item {
  grid-column-gap: 23px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media screen and (max-width: 479px) {
  .trending-products__container .trending-products-item {
    grid-template-columns: 1fr;
  }
}
.trending-products__container .trending-products-item .single-item {
  background-color: #f5f6f6;
  border-radius: 10px;
  flex: none;
  justify-content: center;
}
.trending-products__container .trending-products-item .single-item .trending-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.trending-products__container .trending-products-item .single-item .trending-img img {
  max-width: 100%;
}
.trending-products__container .trending-products-item .single-item .trending-img img:hover {
  transform: scale(1.1);
}
.trending-products__container .trending-products-item .single-item .trending-content {
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .trending-products__container .trending-products-item .single-item .trending-content .trending-content {
    padding: 20px;
  }
}
.trending-products__container .trending-products-item .single-item .trending-content .product-title {
  color: #231f1e;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .trending-products__container .trending-products-item .single-item .trending-content .product-title h3 {
    font-size: 26px;
  }
}
.trending-products__container .trending-products-item .single-item .trending-content .product-paragraph {
  color: #231f1e;
  margin-left: 0;
  font-size: 15px;
  line-height: 100%;
}
.trending-products__container .trending-products-item .single-item .trending-content .bottom-section .button-section {
  justify-content: inline-block;
  margin-top: 28px;
}
.trending-products__container .trending-products-item .single-item .trending-content .bottom-section .button-section a {
  height: 15px;
}
@media screen and (max-width: 767px) {
  .trending-products__container .trending-products-item .single-item .trending-content .bottom-section .button-section a {
    padding: 14px 30px;
  }
}
.trending-products__container .trending-products-item .single-item .trending-content .bottom-section .button-section a .cart-btn {
  height: 48px;
  width: 128px;
  background-color: #333;
  font-size: 17px;
  font-weight: 600;
  line-height: 14px;
  color: white;
  border: 1px solid #231f1e;
  border-radius: 22px;
}
@media screen and (max-width: 767px) {
  .trending-products__container .trending-products-item .single-item .trending-content .bottom-section .button-section a .cart-btn {
    font-size: 16px;
  }
}
.trending-products__container .trending-products-item .single-item .trending-content .bottom-section .button-section a .cart-btn:hover {
  cursor: pointer;
  background-color: #003d29;
}

.services {
  padding-left: 30px;
  padding-right: 30px;
}
.services__container {
  margin-top: 105px;
}
.services__container .container-heading h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Eina02, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.services__container .services-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
}
@media screen and (max-width: 991px) {
  .services__container .services-main {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 479px) {
  .services__container .services-main {
    grid-template-columns: 1fr;
  }
}
.services__container .services-main .single-item {
  background-color: #f5f6f6;
  border-radius: 10px;
  flex: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.services__container .services-main .single-item .services-content {
  padding: 40px;
}
@media screen and (max-width: 767px) {
  .services__container .services-main .single-item .services-content {
    padding: 30px 20px;
  }
}
.services__container .services-main .single-item .services-content .services-title {
  max-width: 230px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 32px;
}
@media screen and (max-width: 767px) {
  .services__container .services-main .single-item .services-content .services-title {
    margin-bottom: 14px;
  }
}
.services__container .services-main .single-item .services-content .services-para {
  max-width: 230px;
  color: #231f1e;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
.services__container .services-main .single-item .services-img img:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */