@import '_top-deals' ; 
@import '_get-discount';
@import '_discount' ;
@import '_todays-deals' ;
@import '_choose-brand';
@import '_shop-category' ;
@import '_main-central-img' ;
@import '_footer' ;


* {
  padding: 0;
  margin: 0;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: Inter, sans-serif;
}

.top-navbar {
  background-color: #003d29;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  min-height: 36px;
  padding-left: 40px;
  padding-right: 40px;
  // width: 94%;
  font-family: Inter, sans-serif;

  @media (max-width: 768px) {
    //    width: 254%;
    // flex-wrap: nowrap;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__left {
    padding-top: 0.7%;
    display: flex;
    gap: 8px;

    p {
      padding-top: 2px;
    }

    @media (max-width: 479px) {
      margin-left: 25%;
    }
  }

  &__mid {
    //  padding-top: 0.7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      gap: 34px;

      li {
        a {
          color: #fff;
          text-decoration: none;
        }

        list-style: none;
      }
    }
  }
}


.navbar2 {
  padding-right: 40px;
  padding-left: 40px;
  height: 82px;
  // gap: 42px;
  // margin-top: 34px;
  display: flex;
  // background-color: #a1d907;

  .img {
    img {
      padding-top: 19px;
      width: 175px;
      height: 44px;
    }
  }

  &__list {
    display: flex;
    margin-bottom: 80px;

    ul {
      padding-left: 15px;
      padding-top: 35px;
      display: flex;
      list-style: none;
      gap: 8px;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;

      li {
        // padding-right: 15px;
        padding-top: 15px;
        list-style-type: none;
        letter-spacing: 0.25px;

        a {
          padding-left: 18px;
          text-decoration: none;
          color: #333;
          font-size: 16px;
          font-weight: 500;
          color: #333;
          //    padding: 5px 10px;
          line-height: 20px;
          //    margin-right: 5px;
          //    margin-left: 5px;
        }
      }
    }
  }

  &__search-bar {
    // padding-left: 70px;
    margin-left: 10%;

    input {
      padding-left: 50px;
      width: 280px;
      margin-top: 21px;
      height: 40px;
      max-width: 320px;
      background-color: #f6f7f8;
      border-radius: 100px;
      margin-bottom: 0;
      // position: relative;
    }
  }

  &__right-side {
    // padding-right: 40px;
    margin-left: 30px;
    display: flex;
    gap: 30px;
    margin-top: 34px;

    .account {
      display: flex;
      gap: 16px;
    }

    .cart {
      display: flex;
      gap: 16px;
    }
  }
}